DEBUG=true

GB_DBHOST=db
GB_DBPORT=5432
GB_DBNAME=goldberries
GB_DBUSER=postgres
GB_DBPASS=somepassword

DISCORD_CLIENT_ID=<YOUR_DISCORD_CLIENT_ID>
DISCORD_CLIENT_SECRET=<YOUR_DISCORD_CLIENT_SECRET>

SUGGESTION_BOX_WEBHOOK_URL=<A_WEBHOOK_URL>
NOTIFICATIONS_WEBHOOK_URL=<A_WEBHOOK_URL>
CHANGELOG_WEBHOOK_URL=<A_WEBHOOK_URL>
POST_CHANGELOG_WEBHOOK_URL=<A_WEBHOOK_URL>
POST_NEWS_WEBHOOK_URL=<A_WEBHOOK_URL>
REPORT_WEBHOOK_URL=<A_WEBHOOK_URL>
MOD_REPORT_WEBHOOK_URL=<A_WEBHOOK_URL>
MILESTONES_WEBHOOK_URL=<A_WEBHOOK_URL>

#PYTHON_COMMAND=python
#WKHTMLTOIMAGE_PATH=<path_to_wkhtmltoimage>

TRAFFIC_FILE=<path_to_traffic_file>