icons
emotes
badges
temp
cache

assets/bin_structure.json

img/*.jpg
img/*.png
img/post
img/stamp
img/map/*.webp
embed/img/cache
embed/img/submission
embed/img/campaign-collage
[0-9]*.webp

.env
.github/copilot-instructions.md