{
  "openapi": "3.1.0",
  "info": {
    "title": "goldberries.net",
    "summary": "This is the API documentation for goldberries.net",
    "description": "longer description",
    "contact": {
      "name": "Modded Golden Team",
      "url": "https://discord.gg/GeJvmMycaC"
    },
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://goldberries.net/api"
    },
    {
      "url": "http://localhost/api"
    }
  ],
  "tags": [
    {
      "name": "Campaign"
    },
    {
      "name": "Map"
    },
    {
      "name": "Challenge"
    },
    {
      "name": "Submission"
    },
    {
      "name": "Player"
    },
    {
      "name": "Objective"
    },
    {
      "name": "Difficulty"
    },
    {
      "name": "Suggestion"
    },
    {
      "name": "Change"
    },
    {
      "name": "Post"
    },
    {
      "name": "Server Settings"
    },
    {
      "name": "Stamp"
    },
    {
      "name": "Showcase"
    },
    {
      "name": "Lists"
    },
    {
      "name": "Search"
    },
    {
      "name": "Stats"
    },
    {
      "name": "Admin"
    },
    {
      "name": "Authentication"
    },
    {
      "name": "Badge"
    },
    {
      "name": "Utilities"
    },
    {
      "name": "Verification Notice"
    }
  ],
  "paths": {
    "/admin/actions": {
      "get": {
        "tags": ["Admin"],
        "summary": "Run an administrative action",
        "description": "Runs one of the registered administrative actions. All actions require a logged-in player account. `reject_challenge` and `swap_lobbies` require Helper or higher, `merge_players` requires Verifier or higher, and `clean_campaign_data_errors` requires Admin.",
        "parameters": [
          {
            "name": "action",
            "in": "query",
            "description": "Action to run",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["reject_challenge", "swap_lobbies", "merge_players", "clean_campaign_data_errors"]
            }
          },
          {
            "name": "id",
            "in": "query",
            "description": "Challenge ID for `reject_challenge`",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "reason",
            "in": "query",
            "description": "Rejection reason for `reject_challenge`",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaign_id",
            "in": "query",
            "description": "Campaign ID for `swap_lobbies`",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort_a",
            "in": "query",
            "description": "First lobby index for `swap_lobbies`",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "sort_b",
            "in": "query",
            "description": "Second lobby index for `swap_lobbies`",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "base_player_id",
            "in": "query",
            "description": "Player ID to retain for `merge_players`",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "merge_player_id",
            "in": "query",
            "description": "Player ID to delete for `merge_players`",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Administrative action completed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminActionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing, invalid, or incompatible action parameters"
          },
          "401": {
            "description": "Not logged in"
          },
          "403": {
            "description": "Account does not have the required role"
          },
          "404": {
            "description": "Referenced challenge, campaign, or player was not found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "500": {
            "description": "The administrative action failed while updating data"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/admin/process-campaign": {
      "get": {
        "tags": ["Admin"],
        "summary": "Process campaign GameBanana data",
        "description": "Downloads and processes the GameBanana files for one or more database campaigns. Multiple campaign IDs may be supplied as a comma-separated value. Requires Helper or higher.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "One or more comma-separated database campaign IDs",
            "required": true,
            "schema": {
              "type": "string",
              "example": "12,18"
            }
          },
          {
            "name": "regenerate",
            "in": "query",
            "description": "Whether to force re-download of cached GameBanana files",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "One processing result per supplied campaign ID",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/AdminCampaignProcessingResult"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing campaign ID parameter"
          },
          "401": {
            "description": "Not logged in"
          },
          "403": {
            "description": "Account does not have Helper or higher permissions"
          },
          "405": {
            "description": "Method Not Allowed"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/admin/process-gb-campaign": {
      "get": {
        "tags": ["Admin"],
        "summary": "Process a GameBanana campaign preview",
        "description": "Downloads and processes a GameBanana mod or WIP without requiring an existing database campaign. Requires a logged-in player account. The `regenerate` option requires Helper or higher.",
        "parameters": [
          {
            "name": "gamebanana_url",
            "in": "query",
            "description": "Full GameBanana mod or WIP URL",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri",
              "pattern": "^https://gamebanana\\.com/(mods|wips)/[0-9]+"
            }
          },
          {
            "name": "regenerate",
            "in": "query",
            "description": "Whether to force re-download and reprocessing of cached files",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "GameBanana processing result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AdminGameBananaProcessingResult"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid GameBanana URL"
          },
          "401": {
            "description": "Not logged in"
          },
          "403": {
            "description": "Account does not have permission to regenerate data"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "503": {
            "description": "All campaign processing slots are currently in use"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/admin/temp-campaign-data": {
      "get": {
        "tags": ["Admin"],
        "summary": "Retrieve processed temporary campaign data",
        "description": "Returns the cached `index.json` generated for a GameBanana mod or WIP. Requires a logged-in player account.",
        "parameters": [
          {
            "name": "gamebanana_url",
            "in": "query",
            "description": "Full GameBanana mod or WIP URL",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri",
              "pattern": "^https://gamebanana\\.com/(mods|wips)/[0-9]+"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Temporary campaign data index",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignDataIndex"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid GameBanana URL"
          },
          "401": {
            "description": "Not logged in"
          },
          "403": {
            "description": "Account does not have access"
          },
          "404": {
            "description": "Temporary campaign data was not found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "500": {
            "description": "Temporary campaign data could not be read"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/admin/temp-map-data": {
      "get": {
        "tags": ["Admin"],
        "summary": "Retrieve processed temporary map data",
        "description": "Returns the cached JSON for one bin path from a processed GameBanana mod or WIP. With `check_exists=true`, returns only an existence flag. Requires a logged-in player account.",
        "parameters": [
          {
            "name": "gamebanana_url",
            "in": "query",
            "description": "Full GameBanana mod or WIP URL",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uri",
              "pattern": "^https://gamebanana\\.com/(mods|wips)/[0-9]+"
            }
          },
          {
            "name": "bin_path",
            "in": "query",
            "description": "Relative path of the bin file within the GameBanana campaign",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "check_exists",
            "in": "query",
            "description": "Return only whether the processed map data exists",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Existence flag or processed map JSON",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "type": "object",
                      "properties": {
                        "exists": {
                          "const": true
                        }
                      },
                      "required": ["exists"]
                    },
                    {
                      "type": "object",
                      "description": "The structure of processed map JSON depends on the bin data.",
                      "additionalProperties": true
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid GameBanana URL or bin path"
          },
          "401": {
            "description": "Not logged in"
          },
          "403": {
            "description": "Account does not have access"
          },
          "404": {
            "description": "Temporary map data was not found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "500": {
            "description": "Temporary map data could not be read"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/admin/upload-file": {
      "post": {
        "tags": ["Admin"],
        "summary": "Upload an image or icon asset",
        "description": "Uploads a PNG, JPEG, GIF, or WebP file to an approved asset directory. Requires a logged-in player account and News Writer access. The `map_image` destination requires a numeric `map_id`; map images are resized to 1920x1080 and saved as WebP.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": ["file", "destination"],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary",
                    "description": "PNG, JPEG, GIF, or WebP file"
                  },
                  "destination": {
                    "type": "string",
                    "enum": ["icon", "campaign_icon", "post", "badge", "map_image"]
                  },
                  "file_name": {
                    "type": "string",
                    "description": "Optional file name without extension; defaults to the uploaded file name. Ignored for `map_image`."
                  },
                  "map_id": {
                    "type": "integer",
                    "description": "Required when `destination` is `map_image`"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["file_name", "path"],
                  "properties": {
                    "file_name": {
                      "type": "string"
                    },
                    "path": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid upload parameters, file extension, image, or dimensions"
          },
          "401": {
            "description": "Not logged in"
          },
          "403": {
            "description": "Account or destination role is not authorized"
          },
          "404": {
            "description": "Map specified by `map_id` was not found"
          },
          "405": {
            "description": "Method Not Allowed"
          },
          "500": {
            "description": "Upload or destination processing failed"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/auth/api-key": {
      "get": {
        "tags": ["Authentication"],
        "summary": "Retrieve the current account API key",
        "description": "Returns the authenticated account's API key. The optional account ID is not used by this operation; it always returns the current account's key.",
        "responses": {
          "200": {
            "description": "Current account API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not logged in"
          },
          "403": {
            "description": "Account is suspended"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "post": {
        "tags": ["Authentication"],
        "summary": "Generate an API key",
        "description": "Generates and stores a new API key for the current account. A Verifier or higher may provide `id` to regenerate the key for another account.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Optional target account ID; requires Verifier or higher",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "New API key",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not logged in"
          },
          "403": {
            "description": "Account is suspended or lacks the required role"
          },
          "404": {
            "description": "Target account was not found"
          },
          "500": {
            "description": "Failed to update the API key"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": ["Authentication"],
        "summary": "Revoke an API key",
        "description": "Removes the current account's API key. A Verifier or higher may provide `id` to revoke the key for another account.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Optional target account ID; requires Verifier or higher",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "API key revoked successfully"
          },
          "401": {
            "description": "Not logged in"
          },
          "403": {
            "description": "Account is suspended or lacks the required role"
          },
          "404": {
            "description": "Target account was not found"
          },
          "500": {
            "description": "Failed to revoke the API key"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/badge": {
      "get": {
        "tags": ["Badge"],
        "summary": "Retrieve one or more badges",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Numeric badge ID, `all`, or an array of numeric badge IDs",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string",
                  "enum": ["all"]
                },
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A badge or list of badges",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Badge"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Badge"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing badge ID"
          },
          "404": {
            "description": "Badge ID does not exist"
          }
        }
      },
      "post": {
        "tags": ["Badge"],
        "summary": "Create or update a badge",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Badge"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Badge created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Badge"
                }
              }
            }
          },
          "401": {
            "description": "Not logged in"
          },
          "403": {
            "description": "Verifier access is required"
          },
          "500": {
            "description": "Failed to create or update the badge"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": ["Badge"],
        "summary": "Delete a badge",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Badge ID to delete",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Badge deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Badge"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid badge ID"
          },
          "401": {
            "description": "Not logged in"
          },
          "403": {
            "description": "Verifier access is required and API-key authentication is not allowed for deletion"
          },
          "404": {
            "description": "Badge not found"
          },
          "500": {
            "description": "Failed to delete the badge"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/badge/get-player-badges": {
      "get": {
        "tags": ["Badge"],
        "summary": "Retrieve all badges awarded to a player",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Player ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Badges awarded to the player",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Badge"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing player ID"
          },
          "404": {
            "description": "Player not found"
          },
          "405": {
            "description": "Method Not Allowed"
          }
        }
      }
    },
    "/badge/get-players": {
      "get": {
        "tags": ["Badge"],
        "summary": "Retrieve players awarded a badge",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Badge ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Players awarded the badge",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/BadgePlayer"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing badge ID"
          },
          "404": {
            "description": "Badge not found"
          },
          "405": {
            "description": "Method Not Allowed"
          }
        }
      }
    },
    "/badge/player": {
      "get": {
        "tags": ["Badge"],
        "summary": "Retrieve badge-player mappings",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Numeric BadgePlayer ID, `all`, or an array of numeric BadgePlayer IDs",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "string",
                  "enum": ["all"]
                },
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                }
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A BadgePlayer mapping or list of mappings with expanded player and badge objects",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/BadgePlayer"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BadgePlayer"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing BadgePlayer ID"
          },
          "404": {
            "description": "BadgePlayer ID does not exist"
          }
        }
      },
      "post": {
        "tags": ["Badge"],
        "summary": "Create a badge-player mapping",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BadgePlayer"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "BadgePlayer mapping created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadgePlayer"
                }
              }
            }
          },
          "401": {
            "description": "Not logged in"
          },
          "403": {
            "description": "Verifier access is required"
          },
          "500": {
            "description": "Failed to create the BadgePlayer mapping"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": ["Badge"],
        "summary": "Delete a badge-player mapping",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "BadgePlayer mapping ID to delete",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "BadgePlayer mapping deleted"
          },
          "400": {
            "description": "Missing BadgePlayer ID"
          },
          "401": {
            "description": "Not logged in"
          },
          "403": {
            "description": "Verifier access is required"
          },
          "404": {
            "description": "BadgePlayer mapping not found"
          },
          "500": {
            "description": "Failed to delete the BadgePlayer mapping"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/campaign": {
      "get": {
        "summary": "Retrieve a campaign or a list of campaigns",
        "tags": ["Campaign"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the campaign to retrieve.",
            "required": true,
            "style": "form",
            "explode": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "string",
                  "enum": ["all"]
                }
              ]
            }
          },
          {
            "name": "maps",
            "in": "query",
            "description": "Whether to include maps in the response",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "challenges",
            "in": "query",
            "description": "Whether to include challenges in the response",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "submissions",
            "in": "query",
            "description": "Whether to include submissions in the response",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "empty",
            "in": "query",
            "description": "When `id=all`, whether to include campaigns with no challenges.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "rejected",
            "in": "query",
            "description": "Whether to include rejected challenges when nested data is fetched.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Campaign"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Campaign"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid ID supplied"
          },
          "404": {
            "description": "Campaign not found"
          }
        }
      },
      "post": {
        "summary": "Create or update a campaign",
        "tags": ["Campaign"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Campaign"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "401": {
            "description": "Not logged in"
          },
          "403": {
            "description": "Not authorized"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a campaign",
        "tags": ["Campaign"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the campaign to delete.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful operation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Campaign"
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing ID"
          },
          "401": {
            "description": "Not logged in"
          },
          "403": {
            "description": "Not authorized"
          },
          "404": {
            "description": "Campaign not found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/campaign/data": {
      "get": {
        "summary": "Retrieve cached campaign data",
        "tags": ["Campaign"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Campaign ID.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Cached campaign index data.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignDataIndex"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid campaign ID."
          },
          "404": {
            "description": "Campaign data not found."
          },
          "500": {
            "description": "Failed to read campaign data."
          }
        }
      },
      "post": {
        "summary": "Replace cached campaign data",
        "tags": ["Campaign"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Campaign ID.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Campaign data replaced successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignDataMutationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid campaign ID, empty body, or invalid JSON body."
          },
          "401": {
            "description": "Not logged in."
          },
          "403": {
            "description": "Helper access is required."
          },
          "404": {
            "description": "Campaign not found."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "summary": "Remove cached campaign data",
        "tags": ["Campaign"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Campaign ID.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Campaign data removed successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CampaignDataMutationResponse"
                }
              }
            }
          },
          "401": {
            "description": "Not logged in."
          },
          "403": {
            "description": "Helper access is required."
          },
          "404": {
            "description": "Campaign data not found."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/campaign/find-by-gb-url": {
      "get": {
        "summary": "Find campaigns by GameBanana URL",
        "tags": ["Campaign"],
        "parameters": [
          {
            "name": "gamebanana_url",
            "in": "query",
            "required": true,
            "description": "GameBanana URL in the form `https://gamebanana.com/mods/<id>` or `https://gamebanana.com/wips/<id>`.",
            "schema": {
              "type": "string",
              "format": "uri"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching campaigns, ordered by name.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Campaign"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid GameBanana URL."
          },
          "500": {
            "description": "Failed to search campaigns."
          }
        }
      }
    },
    "/campaign/paginated": {
      "get": {
        "summary": "Retrieve paginated campaigns with optional search and sorting",
        "tags": ["Campaign"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "description": "Page number, clamped to at least 1.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "description": "Number of rows per page, from 1 to 1000.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Filters by campaign name, map name, challenge label, or GameBanana author name.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A valid campaign, map, challenge, difficulty, or objective view column, such as `campaign_name` or `map_sort_order`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort_dir",
            "in": "query",
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of campaigns.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedCampaigns"
                }
              }
            }
          },
          "400": {
            "description": "Invalid sort or sort direction."
          }
        }
      }
    },
    "/campaign/view": {
      "get": {
        "summary": "Retrieve detailed campaign view",
        "tags": ["Campaign"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaign": {
                      "$ref": "#/components/schemas/Campaign"
                    },
                    "players": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "player": {
                            "$ref": "#/components/schemas/Player"
                          },
                          "stats": {
                            "type": "object",
                            "properties": {
                              "clears": {
                                "type": "integer"
                              },
                              "full_clears": {
                                "type": "integer"
                              },
                              "major_sort_clears": {
                                "type": "object",
                                "additionalProperties": {
                                  "type": "object",
                                  "properties": {
                                    "clears": {
                                      "type": "integer"
                                    },
                                    "full_clears": {
                                      "type": "integer"
                                    }
                                  }
                                }
                              }
                            }
                          },
                          "last_submission": {
                            "type": "string",
                            "format": "date-time"
                          },
                          "highest_lobby_sweep": {
                            "type": "integer"
                          },
                          "highest_lobby_sweep_fcs": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid required parameter"
          },
          "404": {
            "description": "Campaign not found"
          }
        }
      }
    },
    "/campaign/view-player": {
      "get": {
        "summary": "Retrieve all submissions for all maps in a campaign for a player",
        "tags": ["Campaign"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Campaign ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "player_id",
            "in": "query",
            "description": "Player ID",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response. The result is an object keyed by map ID, with each value containing the map's challenges and this player's verified submissions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/Map"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid required parameter"
          },
          "404": {
            "description": "Campaign or player not found"
          }
        }
      }
    },
    "/map": {
      "get": {
        "summary": "Retrieve a map or a list of maps",
        "tags": ["Map"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the map to retrieve.",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "string",
                  "enum": ["all"]
                }
              ]
            }
          },
          {
            "name": "challenges",
            "in": "query",
            "description": "Whether to include challenges in the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "submissions",
            "in": "query",
            "description": "Whether to include submissions in the response",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "rejected",
            "in": "query",
            "description": "Whether rejected challenges should be included when `challenges=true`.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "other_maps",
            "in": "query",
            "description": "Whether to include the other maps in the map's campaign when `challenges=true`.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Map"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Map"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid required parameter"
          },
          "404": {
            "description": "Map not found"
          }
        }
      },
      "post": {
        "summary": "Create or update maps",
        "tags": ["Map"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Map"
                  },
                  {
                    "type": "array",
                    "items": {
                      "$ref": "#/components/schemas/Map"
                    }
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Map created or updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Map"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Map"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid campaign_id or map data"
          },
          "401": {
            "description": "Not logged in"
          },
          "403": {
            "description": "Not authorized"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a map",
        "tags": ["Map"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "The ID of the map to delete.",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Map deleted successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Map"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid id"
          },
          "401": {
            "description": "Not logged in"
          },
          "403": {
            "description": "Not authorized"
          },
          "404": {
            "description": "Map not found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/map/data": {
      "get": {
        "summary": "Retrieve cached campaign data for a map",
        "tags": ["Map"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Map ID. Use either `id` or `bin_path`.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "bin_path",
            "in": "query",
            "description": "Map binary path, with `.bin` appended when omitted. Use either `bin_path` or `id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaign_id",
            "in": "query",
            "description": "Campaign ID. Required with `bin_path` when the path is not uniquely associated with a map; otherwise inferred from the map.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "check_exists",
            "in": "query",
            "description": "When `true`, check for cached data without returning the cached document.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The cached map data, or an existence response when `check_exists=true`.",
            "content": {
              "application/json": {
                "schema": {
                  "anyOf": [
                    {
                      "$ref": "#/components/schemas/MapDataExistsResponse"
                    },
                    {
                      "description": "The raw cached map-data JSON document. Its shape is determined by the map-data converter."
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid `id`, `bin_path`, or `campaign_id`."
          },
          "404": {
            "description": "Map or cached map data not found."
          },
          "500": {
            "description": "Failed to read cached map data."
          }
        }
      },
      "post": {
        "summary": "Create or replace cached map data",
        "tags": ["Map"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Map ID. Use either `id` or `bin_path`.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "bin_path",
            "in": "query",
            "description": "Map binary path, with `.bin` appended when omitted. Use either `bin_path` or `id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaign_id",
            "in": "query",
            "description": "Campaign ID. Required when uploading by `bin_path`; inferred from the map when uploading by `id`.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "description": "Converted map-data JSON document."
              }
            },
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "description": "Raw `.bin` data, converted by the API before caching."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Map data cached successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapDataMutationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid map selector, campaign ID, or request body."
          },
          "401": {
            "description": "Not logged in."
          },
          "403": {
            "description": "Helper access is required."
          },
          "404": {
            "description": "Map or cached map data not found."
          },
          "502": {
            "description": "Raw `.bin` data could not be converted to JSON."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "summary": "Delete cached map data",
        "tags": ["Map"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "description": "Map ID. Use either `id` or `bin_path`.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "bin_path",
            "in": "query",
            "description": "Map binary path, with `.bin` appended when omitted. Use either `bin_path` or `id`.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "campaign_id",
            "in": "query",
            "description": "Campaign ID. Required when deleting by `bin_path`; inferred from the map when deleting by `id`.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Map data deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MapDataMutationResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid map selector or campaign ID."
          },
          "401": {
            "description": "Not logged in."
          },
          "403": {
            "description": "Helper access is required."
          },
          "404": {
            "description": "Map or cached map data not found."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/map/find-by-bin-path": {
      "get": {
        "summary": "Find maps by their binary path",
        "tags": ["Map"],
        "parameters": [
          {
            "name": "bin",
            "in": "query",
            "required": true,
            "description": "Map binary path, with `.bin` appended when omitted.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Maps matching the binary path, with related objects expanded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Map"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid `bin` parameter."
          }
        }
      }
    },
    "/map/rejected": {
      "get": {
        "summary": "Retrieve all rejected maps",
        "tags": ["Map"],
        "responses": {
          "200": {
            "description": "A list of rejected maps",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Map"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/challenge": {
      "get": {
        "summary": "Retrieve a challenge or a list of challenges",
        "tags": ["Challenge"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "string",
                  "enum": ["all"]
                }
              ]
            },
            "description": "The ID of the challenge to retrieve."
          },
          {
            "name": "submissions",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to include submissions in the response."
          },
          {
            "name": "depth",
            "in": "query",
            "deprecated": true,
            "schema": {
              "type": "integer",
              "default": 3
            },
            "description": "Ignored. Foreign-key expansion is fixed at depth 3."
          }
        ],
        "responses": {
          "200": {
            "description": "A challenge or a list of challenges",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Challenge"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Challenge"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create or update a challenge",
        "tags": ["Challenge"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/Challenge"
                  },
                  {
                    "$ref": "#/components/schemas/ChallengeSpecialAction"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created or updated challenge",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Challenge"
                }
              }
            }
          },
          "400": {
            "description": "Invalid challenge data or special-action parameters."
          },
          "401": {
            "description": "Not logged in."
          },
          "403": {
            "description": "Helper access is required."
          },
          "404": {
            "description": "Referenced challenge, campaign, or map was not found."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a challenge",
        "tags": ["Challenge"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the challenge to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted challenge",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Challenge"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid challenge ID."
          },
          "401": {
            "description": "Not logged in."
          },
          "403": {
            "description": "Helper access is required, and API-key authentication is rejected."
          },
          "404": {
            "description": "Challenge not found."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/challenge/like": {
      "get": {
        "summary": "Retrieve likes for a challenge",
        "tags": ["Challenge"],
        "parameters": [
          {
            "name": "challenge_id",
            "in": "query",
            "required": true,
            "description": "Challenge ID.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Likes for the challenge, newest first.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Like"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid challenge ID."
          },
          "404": {
            "description": "Challenge not found."
          }
        }
      },
      "post": {
        "summary": "Create or update a challenge like",
        "tags": ["Challenge"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Like"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Like created or updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Like"
                }
              }
            }
          },
          "400": {
            "description": "Invalid like data, duplicate like, or invalid wishlist fields."
          },
          "401": {
            "description": "Not logged in."
          },
          "403": {
            "description": "You may update only your own like unless you are a verifier."
          },
          "404": {
            "description": "Like or challenge not found."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a challenge like",
        "tags": ["Challenge"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "Like ID.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Like deleted successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Like"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid like ID."
          },
          "401": {
            "description": "Not logged in."
          },
          "403": {
            "description": "You may delete only your own like unless you are a verifier."
          },
          "404": {
            "description": "Like not found."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/challenge/rejected": {
      "get": {
        "summary": "Retrieve all rejected challenges",
        "tags": ["Challenge"],
        "responses": {
          "200": {
            "description": "A list of rejected challenges with all submissions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Challenge"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/challenge/paginated": {
      "get": {
        "summary": "Retrieve paginated challenges with optional search and sorting",
        "tags": ["Challenge"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            },
            "description": "The page number to retrieve."
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 1000,
              "default": 50
            },
            "description": "The number of challenges per page."
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search term to filter challenges by campaign or map names."
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "A valid campaign, map, challenge, difficulty, or objective view column, such as `campaign_name` or `challenge_date_created`."
          },
          {
            "name": "sort_dir",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["asc", "desc"]
            },
            "description": "Direction to sort the challenges (ascending or descending)."
          },
          {
            "name": "depth",
            "in": "query",
            "deprecated": true,
            "schema": {
              "type": "integer",
              "default": 3
            },
            "description": "Ignored. Foreign-key expansion is fixed at depth 3."
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of challenges",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedChallenges"
                }
              }
            }
          }
        }
      }
    },
    "/submission": {
      "get": {
        "tags": ["Submission"],
        "summary": "Retrieve a submission or list of submissions",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer",
                  "minimum": 1
                },
                {
                  "type": "array",
                  "items": {
                    "type": "integer",
                    "minimum": 1
                  }
                },
                {
                  "type": "string",
                  "enum": ["all"]
                }
              ]
            },
            "description": "A submission ID, an array of submission IDs, or `all`."
          }
        ],
        "responses": {
          "200": {
            "description": "A submission or list of submissions with related objects expanded.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Submission"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Submission"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid submission selector."
          },
          "404": {
            "description": "A requested submission does not exist."
          }
        }
      },
      "post": {
        "tags": ["Submission"],
        "summary": "Create or update a submission",
        "description": "Creates a submission when `id` is omitted and updates an existing submission when `id` is provided. Players may update their own permitted fields; Helpers may perform verification and broader edits. `challenge_id` or `new_challenge` is required when creating a submission.",
        "requestBody": {
          "description": "Submission data. The optional `skip_webhook` and `like_challenge` flags control side effects; `new_challenge` may be supplied instead of `challenge_id` when creating a submission.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SubmissionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Submission created/updated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Submission"
                }
              }
            }
          },
          "400": {
            "description": "Invalid submission data, challenge, difficulty, date, or URL."
          },
          "401": {
            "description": "Not logged in."
          },
          "403": {
            "description": "The account cannot submit for or edit the requested player, or Helper access is required."
          },
          "500": {
            "description": "The submission could not be saved."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": ["Submission"],
        "summary": "Delete a submission by ID",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "The ID of the submission to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Submission deleted successfully."
          },
          "401": {
            "description": "Not logged in."
          },
          "403": {
            "description": "Not authorized"
          },
          "404": {
            "description": "Submission not found."
          },
          "500": {
            "description": "The submission could not be deleted."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/submission/queue": {
      "get": {
        "tags": ["Submission"],
        "summary": "Get the verification queue",
        "description": "Returns pending submissions in creation order together with verification notices.",
        "responses": {
          "200": {
            "description": "The pending submission queue and verification notices.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionQueueResponse"
                }
              }
            }
          }
        }
      }
    },
    "/submission/queue-inspect": {
      "get": {
        "tags": ["Submission"],
        "summary": "Inspect a submission for verification",
        "description": "Returns the player's previous verifier notes and related submissions on the same map. Requires Helper access.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "The submission ID to inspect."
          }
        ],
        "responses": {
          "200": {
            "description": "Verification notes and related submissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SubmissionQueueInspectResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid submission ID."
          },
          "401": {
            "description": "Not logged in."
          },
          "403": {
            "description": "Helper access is required."
          },
          "404": {
            "description": "Submission not found."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/submission/mass-verify": {
      "post": {
        "tags": ["Submission"],
        "summary": "Verify or reject submissions in bulk",
        "description": "Verifies or rejects all listed pending submissions after validating the complete batch. Requires Helper access.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/MassVerifyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated submissions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Submission"
                  }
                }
              }
            }
          },
          "400": {
            "description": "The request is invalid, a submission is already decided, or a submission cannot be verified by this account."
          },
          "401": {
            "description": "Not logged in."
          },
          "403": {
            "description": "Helper access is required."
          },
          "500": {
            "description": "A submission could not be updated."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/submission/recent": {
      "get": {
        "tags": ["Submission"],
        "summary": "Get a list of recent submissions",
        "description": "Returns a paginated list of recent submissions with optional filters",
        "parameters": [
          {
            "name": "verified",
            "in": "query",
            "required": false,
            "description": "Filter by verification status. Omit this parameter for pending submissions; `true` selects verified submissions and `false` selects rejected submissions.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "description": "The page number to retrieve",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "The number of submissions per page",
            "schema": {
              "type": "integer",
              "default": 10,
              "minimum": 1,
              "maximum": 1000
            }
          },
          {
            "name": "player",
            "in": "query",
            "required": false,
            "description": "Filter submissions by player ID",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A paginated list of recent submissions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaginatedSubmissions"
                }
              }
            }
          }
        }
      }
    },
    "/player": {
      "get": {
        "summary": "Retrieve player details",
        "tags": ["Player"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "string",
                  "enum": ["all"]
                }
              ]
            },
            "description": "The player ID, an array of player IDs, or `all`."
          },
          {
            "name": "customization",
            "in": "query",
            "schema": {
              "type": "boolean"
            },
            "description": "Whether to include profile customization details."
          }
        ],
        "responses": {
          "200": {
            "description": "Player details successfully retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Player"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Player"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid player selector."
          },
          "404": {
            "description": "Player ID does not exist."
          }
        }
      },
      "post": {
        "summary": "Create or update a player",
        "tags": ["Player"],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Player"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Player successfully created or updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Player"
                }
              }
            }
          },
          "400": {
            "description": "Bad request, missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized, not logged in"
          },
          "403": {
            "description": "Forbidden, not authorized"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "summary": "Delete a player",
        "tags": ["Player"],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the player to delete."
          }
        ],
        "responses": {
          "200": {
            "description": "Player successfully deleted"
          },
          "400": {
            "description": "Bad request, missing or invalid parameters"
          },
          "401": {
            "description": "Unauthorized, not logged in"
          },
          "403": {
            "description": "Forbidden, not authorized"
          },
          "404": {
            "description": "Player not found"
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/player/all": {
      "get": {
        "tags": ["Player"],
        "summary": "Retrieve all players",
        "parameters": [
          {
            "in": "query",
            "name": "customization",
            "schema": {
              "type": "boolean"
            },
            "description": "If true, includes additional player customization details"
          }
        ],
        "responses": {
          "200": {
            "description": "List of all players",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/player/get-likes": {
      "get": {
        "tags": ["Player"],
        "summary": "Retrieve likes for a player",
        "parameters": [
          {
            "in": "query",
            "name": "player_id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "The ID of the player whose likes should be retrieved."
          },
          {
            "in": "query",
            "name": "wishlist_only",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "When `true`, return only wishlist entries."
          }
        ],
        "responses": {
          "200": {
            "description": "The player's likes, sorted by the most recently updated or created entry.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Like"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid `player_id`."
          },
          "404": {
            "description": "Player not found."
          }
        }
      }
    },
    "/player/group": {
      "get": {
        "tags": ["Player"],
        "summary": "Retrieve players by group",
        "parameters": [
          {
            "in": "query",
            "name": "group",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["user", "helper", "verifier", "admin", "suspended", "unclaimed", "all"]
            },
            "description": "The group of players to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "List of players in the specified group",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid group or missing parameter"
          }
        }
      }
    },
    "/player/stats": {
      "get": {
        "tags": ["Player"],
        "summary": "Retrieve player statistics",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the player to get statistics for."
          }
        ],
        "responses": {
          "200": {
            "description": "Verified, non-obsolete submission statistics and account creation date for the player.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlayerStatsResponse"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid player ID"
          }
        }
      }
    },
    "/player/submissions": {
      "get": {
        "tags": ["Player"],
        "summary": "Retrieve submissions for a specific player",
        "parameters": [
          {
            "in": "query",
            "name": "player_id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the player to get the submissions for."
          },
          {
            "in": "query",
            "name": "archived",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include archived maps. When omitted or `false`, archived maps are excluded."
          },
          {
            "in": "query",
            "name": "arbitrary",
            "schema": {
              "type": "boolean",
              "default": false
            },
            "description": "Include arbitrary objectives and challenges. When omitted or `false`, they are excluded."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of verified submissions for the specified player",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Submission"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid `player_id`"
          }
        }
      }
    },
    "/objective": {
      "get": {
        "tags": ["Objective"],
        "summary": "Retrieve an objective or a list of objectives",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "string",
                  "enum": ["all"]
                }
              ]
            },
            "description": "The objective ID, an array of objective IDs, or `all`."
          }
        ],
        "responses": {
          "200": {
            "description": "Details of the requested objective(s)",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Objective"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Objective"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing `id` parameter"
          },
          "404": {
            "description": "Objective not found if an ID was provided and it did not exist"
          }
        }
      }
    },
    "/objective/submission-count": {
      "get": {
        "tags": ["Objective"],
        "summary": "Retrieve the count of verified submissions for objectives",
        "parameters": [
          {
            "in": "query",
            "name": "type",
            "schema": {
              "type": "string",
              "enum": ["campaign", "player"]
            },
            "description": "Optional filter type. Omit it to return counts for all submissions; use `campaign` or `player` only together with `id`."
          },
          {
            "in": "query",
            "name": "id",
            "schema": {
              "type": "integer",
              "description": "The ID of the campaign or player to filter by."
            },
            "description": "Campaign or player ID. Required when `type` is supplied."
          }
        ],
        "responses": {
          "200": {
            "description": "A dictionary mapping objective IDs to the count of verified submissions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": "integer",
                    "description": "The count of verified submissions for the corresponding objective ID."
                  }
                }
              }
            }
          },
          "400": {
            "description": "A filter type was supplied without a positive ID, or the filter type is invalid."
          }
        }
      }
    },
    "/difficulty": {
      "get": {
        "tags": ["Difficulty"],
        "summary": "Retrieve a difficulty or a list of difficulties",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "oneOf": [
                {
                  "type": "integer"
                },
                {
                  "type": "array",
                  "items": {
                    "type": "integer"
                  }
                },
                {
                  "type": "string",
                  "enum": ["all"]
                }
              ]
            },
            "description": "The ID of the difficulty to retrieve. Use \"all\" to retrieve all difficulties."
          }
        ],
        "responses": {
          "200": {
            "description": "A list of difficulty objects or a single difficulty object if an ID is provided.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Difficulty"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Difficulty"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Invalid or missing `id` parameter."
          },
          "404": {
            "description": "Difficulty ID does not exist."
          }
        }
      }
    },
    "/suggestion": {
      "get": {
        "tags": ["Suggestion"],
        "summary": "Retrieve a suggestion or list of suggestions",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "The suggestion ID to retrieve."
          }
        ],
        "responses": {
          "200": {
            "description": "A suggestion or list of suggestions with associated content and votes expanded.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Suggestion"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Suggestion"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid `id` parameter."
          },
          "404": {
            "description": "Suggestion not found."
          }
        }
      },
      "post": {
        "tags": ["Suggestion"],
        "summary": "Create or update a suggestion",
        "description": "Creates a suggestion when `id` is omitted. Updating verification or acceptance state requires Helper access; creating a suggestion requires a logged-in account. Challenge-linked suggestions may include a suggested difficulty.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestionInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created or updated suggestion object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Suggestion"
                }
              }
            }
          },
          "400": {
            "description": "Validation errors or missing parameters."
          },
          "401": {
            "description": "Not logged in."
          },
          "403": {
            "description": "Unauthorized access or action."
          },
          "404": {
            "description": "A referenced challenge or difficulty does not exist."
          },
          "500": {
            "description": "The suggestion could not be saved."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": ["Suggestion"],
        "summary": "Delete a suggestion",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer",
              "description": "The ID of the suggestion to delete."
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Suggestion successfully deleted."
          },
          "400": {
            "description": "Missing or invalid `id` parameter."
          },
          "403": {
            "description": "Unauthorized access or action."
          },
          "404": {
            "description": "Suggestion not found."
          },
          "401": {
            "description": "Not logged in."
          },
          "500": {
            "description": "The suggestion could not be deleted."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      }
    },
    "/suggestion/last-placement-suggestion": {
      "get": {
        "tags": ["Suggestion"],
        "summary": "Retrieve the latest verified placement suggestion",
        "parameters": [
          {
            "in": "query",
            "name": "challenge",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            },
            "description": "The challenge ID."
          }
        ],
        "responses": {
          "200": {
            "description": "The latest verified suggestion with a suggested difficulty for the challenge.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Suggestion"
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid challenge ID."
          },
          "404": {
            "description": "No verified placement suggestion exists for the challenge."
          }
        }
      }
    },
    "/suggestion/vote": {
      "get": {
        "tags": ["Suggestion"],
        "summary": "Retrieve a suggestion vote or list of votes",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "A suggestion-vote ID, an array of suggestion-vote IDs, or `all`."
          },
          {
            "in": "query",
            "name": "depth",
            "schema": {
              "type": "integer",
              "default": 2
            },
            "description": "Depth of expanded linked data. Defaults to 2."
          }
        ],
        "responses": {
          "200": {
            "description": "A suggestion vote or list of suggestion votes.",
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/SuggestionVote"
                    },
                    {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/SuggestionVote"
                      }
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Missing or invalid `id` parameter."
          },
          "404": {
            "description": "A requested suggestion vote does not exist."
          }
        }
      },
      "post": {
        "tags": ["Suggestion"],
        "summary": "Cast a vote on a suggestion",
        "description": "Creates a vote for the current player. The server derives `player_id`; each player may vote only once per suggestion.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SuggestionVoteInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The created vote object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SuggestionVote"
                }
              }
            }
          },
          "400": {
            "description": "Validation errors or duplicate vote."
          },
          "401": {
            "description": "Not logged in."
          },
          "403": {
            "description": "Unauthorized action."
          },
          "404": {
            "description": "Suggestion does not exist."
          },
          "500": {
            "description": "The vote could not be created."
          }
        },
        "security": [
          {
            "api_key": []
          }
        ]
      },
      "delete": {
        "tags": ["Suggestion"],
        "summary": "Remove a vote from a suggestion",
        "parameters": [
          {
            "in": "query",
            "name": "id",
            "required": true,
[...]
